client/software/library/server.json
client/software/test.json
/server/service
client.zip
client/software/error_log.txt
client/software/commissure.png
client/software/library.rar
client/software/library/__pycache__/aws_connection.cpython-38.pyc
client/software/library/__pycache__/cat.cpython-38.pyc
client/software/commissure.png
client/software/myvideo.mp4
client/software/myvideo_another.mp4
tree.txt
client/software/commissure.png
client/software/library/cross.png
client/software/library/SavitzkyGolayFilter.py
client/software/myvideo.mp4
client/software/myvideo_another.mp4
tree.txt
client/software/commissure.png
client/software/library/server.json
client/software/myvideo.mp4
client/software/myvideo_another.mp4
/venv
client/software/output/error_log.txt
